################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ConvMVVM.Core/.vs/ConvMVVM.Core
/ConvMVVM.Core/ConvMVVM.Core/obj
/ConvMVVM.Core/.vs/ProjectEvaluation
/ConvMVVM.Core/ConsoleTest/bin/x64/Debug/net7.0-windows
/ConvMVVM.Core/ConsoleTest/obj
/ConvMVVM.Core/ConvMVVM.Core/bin/x64/Debug/net7.0-windows
/ConvMVVM.Core/UnitTestSharp/bin
/ConvMVVM.Core/UnitTestSharp/obj
