################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ConvMVVM.Core/.vs/ConvMVVM.Core
/ConvMVVM.Core/ConvMVVM.Core/obj
/ConvMVVM.Core/.vs/ProjectEvaluation
/ConvMVVM.Core/ConsoleTest/bin/x64/Debug/net7.0-windows
/ConvMVVM.Core/ConsoleTest/obj
/ConvMVVM.Core/ConvMVVM.Core/bin/x64/Debug/net7.0-windows
/ConvMVVM.Core/UnitTestSharp/bin
/ConvMVVM.Core/UnitTestSharp/obj
/ConvMVVM.Core/ConvMVVM.Core/bin/x64/Debug/netstandard2.0
/.vs
/ConvMVVM.Core/ConvMVVM.Core/bin/x64/Release/netstandard2.0
/ConvMVVM.Core/IOCContainerExample/bin/x64
/ConvMVVM.Core/IOCContainerExample/obj
/ConvMVVM/.vs
/ConvMVVM/ConsoleTest/bin/x64/Debug/net7.0-windows
/ConvMVVM/ConsoleTest/obj
/ConvMVVM/ConvMVVM.Core/bin/x64
/ConvMVVM/ConvMVVM.Core/obj
/ConvMVVM/ConvMVVM.WPF/bin/x64
/ConvMVVM/ConvMVVM.WPF/obj
/ConvMVVM/UnitTestSharp/bin/x64
/ConvMVVM/UnitTestSharp/obj
/ConvMVVM/WpfTest/bin/x64/Debug/net7.0-windows
/ConvMVVM/WpfTest/obj
/Examples/IOCContainer/.vs
/Examples/IOCContainer/IOCContainer/bin/x64/Debug/net7.0-windows
/Examples/IOCContainer/IOCContainer/obj
/Examples/RelayCommandExample/.vs/RelayCommandExample
/Examples/RelayCommandExample/RelayCommandExample/bin/x64
/Examples/RelayCommandExample/RelayCommandExample/obj
